html {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131f32;
  color: #e4f1fb;
  overflow-y: hidden;
}
